name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Buildozer Action
        # Usamos la acción mantenida que es estándar para Kivy
        uses: Pozos/buildozer-action@v2
        with:
          build_command: buildozer android debug
          python_version: 3.9

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: NeuralLink-APK
          path: bin/*.apk